* {
    box-sizing: border-box;
    text-align: center;
    font-size: 18px;
  }

body {
    font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
    color: #777;
    background: #777;
    width: 960px;
    font-size: 18px;
}

header, nav, section, aside, footer {
    background: #ebebeb;
    padding: 20px;
    margin-bottom: 20px;
}

article {
    color: #ebebeb;
    background: #777;
    padding: 20px;
    margin-bottom: 20px;
}

h1, p {
    color: #777;
    background: #ebebeb;
}

section {
    width: 495px;
}

